:root {
  --primary-color: rgb(221, 165, 109);
  --headings-color: #353434;
  --secondary-color: #ddac75b3;
  --font-colr:#121212;
  --border-color: #b4a7a7;
  --hover-color: #f0f0f0;
}
html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
  }
  
  body {
    max-width: 90%;
    margin: 0 auto;
    background: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: var(--headings-color);
    margin: 1rem 0;
  }

  p {
    margin: 0.1rem;
    padding: 0;
  }

  a {
    color: var(--font-color);
  }
  
  hr {
    border: none;
    border-top: 0.2rem solid var(--secondary-color);
    border-radius: 0.1rem;
    margin: 0.2rem 0rem;
  }
  
  .content {
    padding: 0.5rem;

    & label {
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    /*
    & input {
      margin-bottom: 1em;
    }*/
    
    & textarea {
      margin-bottom: 1em;
      min-height: 12em;
      resize: vertical;
    }

    & header h1 {
      margin: 1rem 0 0.25rem 0;
    }
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }
  
  .filter-section {
    margin-bottom: 1rem;
    display: flex;
  }
  
  .filter-buttons {
    flex: 1;
    display: flex;
  }
  
  .filter-button {
    display: inline-block;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    margin-right: 10px;
    background-color: var(--primary-color); /* Blue background color */
    color: #fff; /* White text color */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
  }

  .filter-non-tag {
    color: var(--primary-color);
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
    display: inline-block;
  }
  
  .filter-button:hover {
    background-color: var(--primary-color); /* Darker blue background color on hover */
  }

  .search-container form {
    display: flex;
    align-items: center; /* Align items vertically center */
  }
  
  .search-input {
    margin-bottom: 0;
    margin-right: 5px; /* Add some spacing between input and button */
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }

  .search-button {
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Optional: Hover effect */
  .search-button:hover {
    background-color: var(--primary-color);
  }


  /* ----------------------------------------------------
   Recipe list page  (index and search results)
   ------------------------------------------------------
   */
  .recipe-title {
    margin: 0.5rem;
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;

    & h1 {
      font-size: 1.5em;
      margin-bottom: 0;
    }

    & a {
      text-decoration: none;
      padding: 0.2rem;
    }

    & a:hover {
      background-color: var(--secondary-color);
      border-radius: 5px;
      opacity: 0.5;
    }

    & p {
      text-decoration: none;
      font-size: 1.5em;
    }
  }
  
  .recipe-title > a:first-of-type {
    flex: auto;
  } 
  /* ----------------------------------------------------  */

  /* ----------------------------------------------------
   Full details page 
   ------------------------------------------------------
   */
  .recipe-header {
    display: flex;
    align-items: center; /* Vertically center elements */
    border-bottom: 0.2rem solid var(--secondary-color);
    border-radius: 0.1rem;

    & h1 {
      flex: 1;
      text-decoration: none;
      font-size: 1.5em;
      margin: 0;
    }
  }

  .edit-button {
    background-color: var(--secondary-color); /* background color */
    color: #fff; /* White text color */

    text-decoration: none; /* Remove underline */
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .edit-button:hover {
    background-color: var(--primary-color);
  }
  /* ----------------------------------------------------  */
