<!doctype html>
<title>{% block title %}{% endblock %} - Family recipes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
<nav>
  <h1><a href="{{url_for('home.index')}}">Family recipes</a></h1>
  <ul>
     <li>
        <form action="{{ url_for('home.search', query='search') }}" method="get">
          <input type="search" placeholder="Search" name="q">
          <button type="submit">Search</button>
        </form>    
    {% if g.user %}
      <li><a class="action" href="{{ url_for('home.create') }}">Add recipe</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>