{% extends 'base.html' %}

{% block header %}
  <h2 class="form-header">{% block title %}New Recipe{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form action="" method="post" class="my-form">
    {{ form.hidden_tag() }}
    <p>
      {{ form.title.label }}<br>
      {{ form.title(cols=10, rows=8) }}<br>
      {{ form.ingredients.label }}<br>
      {{ form.ingredients(cols=110, rows=8, maxlength=2000) }}<br>
      {{ form.instructions.label }}<br>
      {{ form.instructions(cols=110, rows=8, maxlength=2000) }}<br>
      {{ form.tags.label }}<br>
      {{ form.tags(cols=20, rows=10) }}<br>
      {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}